body {
  height: 100%;
  width: 100%;
  background-color: #ede0d4;

}

.container{
  margin-top: 100px;
  max-width: 900px;
  margin: auto;
  margin-top: 200px;
  text-align: center;
  background-color: #ede0d4;
}

.quizContainer{
  display: grid;
  margin: auto;
  border-radius: 12px;
  border: 1px solid;
  height: 250px;
  width: 350px;
  text-align: center;
  box-shadow: 0 0 10px;
  background-color: #faedcd;
}

.quizContainer > ul{
  list-style: none;
  display: flex;
  padding-left: 0px;
  height: 80px;
  margin: 0px;
  vertical-align: center;
  text-align: center;
}
.quizContainer > ul input{
  margin: auto;
  cursor: pointer;
  border: 0px;
  width: 100%;
  height: 1.5rem;
}
input[type='radio']:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: 0px;
  left: 46px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}
input[type='radio']:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: -1px;
  left: 45px;
  position: relative;
  background-color:lawngreen;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 3px solid ;
}

input[type='checkbox']:after {
  width: 20px;
  height: 20px;
  top: 0px;
  left: 46px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}
input[type='checkbox']:checked:after {
  width: 20px;
  height: 20px;
  top: -1px;
  left: 45px;
  position: relative;
  background-color:lawngreen;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 3px solid ;
}
.quizContainer li{
  font-size: 18px;
  display: grid;
  width: 116px;
  margin: auto;
}
.quizContainer #question{
  width: 350px;
  height: 100px;
  word-wrap: break-word;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 50px;
}
ul {
  list-style: none;
}
#answerBtn {
  align-self: flex-end;
  width: 100%;
  height: 70px;
  bottom: 0px;
  border-radius: 0 0 12px 12px;
  background-color: #bc6c25;
  font-size: 24px;
  
}
#answerBtn:hover{
  background-color: lawngreen;
  transition: 3s;
}
button{
  cursor: pointer;
}
[name=choiceCB] {
  display: none;
}
.answerPage {
  display: none;
}
.answerPage #answers ul{
  
  padding: 10px 0 0 0 ;
  font-size: 20px;
  font-weight: bold;

}
.answerPage #answers li{
  font-size: 18;
  font-weight: normal;
}
.normalBtn{
 height: 30px;
 width: 120px;
 border-bottom: 1px solid;
 border-left: 0px;
 border-right: 0px;
 border-top: 1px solid;
}
.normalBtn:hover{
  border-bottom: 0px ;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-top: 0px;
  transition: 1s;
  background-color: lawngreen;
  width: 350px;
  border-radius: 12px;
 }
